# Config file for Test run

[run]
name           : Fid1
output_dir     : /home/ulb/physth_fi/gfacchin/exo21cmFAST_release/fisher/runs/
cache_dir      : /scratch/ulb/physth_fi/gfacchin/output_exo21cmFAST/fisher_analysis/

# extra_parameters
[extra_params]
min_redshift   : 5.
max_redshift   : 35.

# UserParams
[user_params]
HII_DIM : 128
BOX_LEN : 250
USE_FFTW_WISDOM          : True
PERTURB_ON_HIGH_RES      : True
USE_INTERPOLATION_TABLES : True


# AstroParams
[astro_params]
F_STAR10            : -1.3
ALPHA_STAR          : 0.5
t_STAR              : 0.5
F_ESC10             : -1.0
ALPHA_ESC           : -0.5
L_X                 : 40.0
DM_LOG10_MASS       : 8.1
DM_LOG10_LIFETIME   : 26


# FlagOptions
[flag_options]
USE_MINI_HALOS             : False
USE_MASS_DEPENDENT_ZETA    : True
SUBCELL_RSD                : True
INHOMO_RECO                : True
USE_TS_FLUCT               : True
DM_PROCESS                 : decay
DM_PRIMARY                 : elec_delta
DM_FS_METHOD               : no_He
DM_BACKREACTION            : False
USE_DM_ENERGY_INJECTION    : True
USE_DM_EFFECTIVE_DEP_FUNCS : False
USE_DM_CUSTOM_F_RATIOS     : False
USE_CUSTOM_INIT_COND       : False
FORCE_DEFAULT_INIT_COND    : False


# Parameters to vary in the Fisher analysis
[astro_params_vary]
F_STAR10            : 1.0
ALPHA_STAR          : 3.0
t_STAR              : 5.0
F_ESC10             : 1.0
ALPHA_ESC           : 3.0
L_X                 : 0.3
DM_LOG10_MASS       : 1.0
DM_LOG10_LIFETIME   : 1.0

